@page "/home"
@rendermode InteractiveServer
@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<form method="post" action="/auth/logout">
    <button type="submit">
        Log out
    </button>
</form>
