@page "/login"

<PageTitle>Login</PageTitle>

<div class="login-container">
    <h1>CodeBlue</h1>

    <form method="post" action="/auth/login">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username"
                   name="Username"
                   type="text"
                   required
                   autocomplete="username" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password"
                   name="Password"
                   type="password"
                   required
                   autocomplete="current-password" />
        </div>

        <button type="submit">
            Sign In
        </button>
    </form>
</div>
