@layout MudProviderLayout
@inherits LayoutComponentBase

<div class="app-background">
    <MudLayout Class="app-layout">

        <MudAppBar Fixed="true" Elevation="0" Color="Color.Default" Class="cb-appbar">
            <div class="cb-brand">
                <img src="/images/app/CodeBlueIcon.png" alt="CodeBlue" class="cb-logo" />
                <span class="cb-title">Code Blue</span>
            </div>

            <MudSpacer />

            <AuthNav />
        </MudAppBar>


        <MudMainContent Class="main-content">
            @Body
        </MudMainContent>

    </MudLayout>
</div>
