@layout MudProviderLayout
@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="app-background">
    <MudLayout Class="app-layout">

        <MudAppBar Fixed="true" Elevation="0" Color="Color.Default" Class="cb-appbar">
            <div class="cb-brand">
                <img src="/images/app/CodeBlueIcon.png" alt="CodeBlue" class="cb-logo" />
                <span class="cb-title">Code Blue</span>
            </div>

            <MudSpacer />

            <MudButton Variant="Variant.Text"
                       Color="Color.Inherit"
                       OnClick="@(() => Nav.NavigateTo("/login"))">
                EMPLOYEE LOGIN
            </MudButton>
        </MudAppBar>

        <MudMainContent Class="main-content">
            @Body
        </MudMainContent>

    </MudLayout>
</div>
